_tflow_select==2.1.0
abseil-cpp==20210324.2
absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.4.0
blas==1.0
blinker==1.4
brotlipy==0.7.0
ca-certificates==2022.3.29
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.4
click==8.0.4
colorama==0.4.4
cryptography==3.4.8
cudatoolkit==11.3.1
cudnn==8.2.1
dataclasses==0.8
flask==1.0.2
flatbuffers==2.0.0
frozenlist==1.2.0
future==0.18.2
gast==0.4.0
giflib==5.2.1
google-auth-oauthlib==0.4.1
google-auth==2.6.0
google-pasta==0.2.0
graphviz==2.38
grpcio==1.42.0
h5py==3.6.0
hdf5==1.10.6
icc_rt==2019.0.0
icu==68.1
idna==3.3
imageio==2.16.1
importlib-metadata==4.8.2
intel-openmp==2021.4.0
itsdangerous==2.0.1
jieba==0.42.1
jinja2==3.0.3
jpeg==9d
keras-preprocessing==1.1.2
libcurl==7.80.0
libpng==1.6.37
libprotobuf==3.14.0
libssh2==1.9.0
libuv==1.40.0
macholib==1.14
markdown==3.3.4
markupsafe==2.0.1
mkl-service==2.4.0
mkl==2021.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
multidict==5.1.0
networkx==2.6.3
ninja==1.10.2
numpy-base==1.21.5
numpy==1.21.5
oauthlib==3.2.0
opencv-python==4.5.5.64
openssl==1.1.1n
opt_einsum==3.3.0
packaging==21.3
pefile==2019.4.18
pillow==9.1.0
pip==21.2.4
protobuf==3.14.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.12.0
pydot==1.4.1
pyfiglet==0.8.post1
pyinstaller==4.8
pyjwt==2.1.0
pyopenssl==21.0.0
pyparsing==3.0.4
pyqt5-qt5==5.15.2
pyqt5-sip==12.9.1
pyqt5==5.15.6
pyreadline==2.1
pysocks==1.7.1
pytesseract==0.3.9
python-flatbuffers==1.12
python==3.7.11
pywavelets==1.3.0
pywin32-ctypes==0.2.0
pywin32==302
requests-oauthlib==1.3.0
requests==2.27.1
rsa==4.7.2
scikit-image==0.19.2
scipy==1.7.3
selenium==3.141.0
setuptools==58.0.4
six==1.16.0
snappy==1.1.8
sqlite==3.38.0
tensorboard-plugin-wit==1.6.0
tensorboard==2.5.0
tensorflow-base==2.5.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow==2.5.0
termcolor==1.1.0
tf-slim==1.1.0
tifffile==2021.11.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.63.0
typing-extensions==4.1.1
typing_extensions==4.1.1
urllib3==1.26.8
vc==14.2
vs2015_runtime==14.27.29016
werkzeug==2.0.3
wheel==0.35.1
win_inet_pton==1.1.0
wincertstore==0.2
wrapt==1.13.3
yarl==1.6.3
zhon==1.1.5
zipp==3.7.0
zlib==1.2.11
